In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
df = px.data.gapminder()

In [2]:
df.head(10)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
5,Afghanistan,Asia,1977,38.438,14880372,786.113360,AFG,4
6,Afghanistan,Asia,1982,39.854,12881816,978.011439,AFG,4
7,Afghanistan,Asia,1987,40.822,13867957,852.395945,AFG,4
8,Afghanistan,Asia,1992,41.674,16317921,649.341395,AFG,4
9,Afghanistan,Asia,1997,41.763,22227415,635.341351,AFG,4

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
 6   iso_alpha  1704 non-null   object
 7   iso_num    1704 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 106.6+ KB

In [4]:
df.continent.value_counts()

Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: continent, dtype: int64

## Question 1
The mean life expectancy of all the Asian countries according to the data.

In [5]:
Asia = df[df['continent'] == 'Asia']
Asia.head(10)
Asia.value_counts()

country      continent  year  lifeExp  pop        gdpPercap     iso_alpha  iso_num
Afghanistan  Asia       1952  28.801   8425333    779.445314    AFG        4          1
Pakistan     Asia       1992  60.838   120065004  1971.829464   PAK        586        1
                        1982  56.158   91462088   1443.429832   PAK        586        1
                        1977  54.043   78152686   1175.921193   PAK        586        1
                        1972  51.929   69325921   1049.938981   PAK        586        1
                                                                                     ..
Israel       Asia       1997  78.269   5531387    20896.609240  ISR        376        1
                        1992  76.930   4936550    18051.522540  ISR        376        1
                        1987  75.600   4203148    17122.479860  ISR        376        1
                        1982  74.450   3858421    15367.029200  ISR        376        1
Yemen, Rep.  Asia       2007  62.698   22211743   2280.769906   YEM        887        1
Length: 396, dtype: int64

In [6]:
Asia_mean = Asia['lifeExp'].mean()
print(Asia_mean)

60.064903232323175

## Question 2
 Deviation in GDP of each country in Europe and South America.

In [7]:
Eur_A = df[df['continent'].isin(['Americas', 'Europe'])]

print(Eur_A)

        country continent  year  lifeExp       pop     gdpPercap iso_alpha  \
12      Albania    Europe  1952   55.230   1282697   1601.056136       ALB
13      Albania    Europe  1957   59.280   1476505   1942.284244       ALB
14      Albania    Europe  1962   64.820   1728137   2312.888958       ALB
15      Albania    Europe  1967   66.220   1984060   2760.196931       ALB
16      Albania    Europe  1972   67.690   2263554   3313.422188       ALB
...         ...       ...   ...      ...       ...           ...       ...
1639  Venezuela  Americas  1987   70.190  17910182   9883.584648       VEN
1640  Venezuela  Americas  1992   71.150  20265563  10733.926310       VEN
1641  Venezuela  Americas  1997   72.146  22374398  10165.495180       VEN
1642  Venezuela  Americas  2002   72.766  24287670   8605.047831       VEN
1643  Venezuela  Americas  2007   73.747  26084662  11415.805690       VEN

      iso_num
12          8
13          8
14          8
15          8
16          8
...       ...
1639      862
1640      862
1641      862
1642      862
1643      862

[660 rows x 8 columns]

In [15]:
#df.drop(['A'], axis = 1)
Eur_A['Std'] = Eur_A.std(axis = 1)
Eur_Am = Eur_A.drop(['STD'], axis = 1)

import warnings
warnings.filterwarnings('ignore')
print(Eur_Am)

        country continent  year  lifeExp       pop     gdpPercap iso_alpha  \
12      Albania    Europe  1952   55.230   1282697   1601.056136       ALB
13      Albania    Europe  1957   59.280   1476505   1942.284244       ALB
14      Albania    Europe  1962   64.820   1728137   2312.888958       ALB
15      Albania    Europe  1967   66.220   1984060   2760.196931       ALB
16      Albania    Europe  1972   67.690   2263554   3313.422188       ALB
...         ...       ...   ...      ...       ...           ...       ...
1639  Venezuela  Americas  1987   70.190  17910182   9883.584648       VEN
1640  Venezuela  Americas  1992   71.150  20265563  10733.926310       VEN
1641  Venezuela  Americas  1997   72.146  22374398  10165.495180       VEN
1642  Venezuela  Americas  2002   72.766  24287670   8605.047831       VEN
1643  Venezuela  Americas  2007   73.747  26084662  11415.805690       VEN

      iso_num           Std
12          8  4.837433e+05
13          8  5.568592e+05
14          8  6.517992e+05
15          8  7.483498e+05
16          8  8.537847e+05
...       ...           ...
1639      862  6.759305e+06
1640      862  7.648332e+06
1641      862  8.444473e+06
1642      862  9.166918e+06
1643      862  9.844906e+06

[660 rows x 9 columns]

## Question 3
The change in population of each African country in the last 3 decades.

In [16]:
Africa = df[df['continent'] == 'Africa']
print(Africa)

       country continent  year  lifeExp       pop    gdpPercap iso_alpha  \
24     Algeria    Africa  1952   43.077   9279525  2449.008185       DZA
25     Algeria    Africa  1957   45.685  10270856  3013.976023       DZA
26     Algeria    Africa  1962   48.303  11000948  2550.816880       DZA
27     Algeria    Africa  1967   51.407  12760499  3246.991771       DZA
28     Algeria    Africa  1972   54.518  14760787  4182.663766       DZA
...        ...       ...   ...      ...       ...          ...       ...
1699  Zimbabwe    Africa  1987   62.351   9216418   706.157306       ZWE
1700  Zimbabwe    Africa  1992   60.377  10704340   693.420786       ZWE
1701  Zimbabwe    Africa  1997   46.809  11404948   792.449960       ZWE
1702  Zimbabwe    Africa  2002   39.989  11926563   672.038623       ZWE
1703  Zimbabwe    Africa  2007   43.487  12311143   469.709298       ZWE

      iso_num
24         12
25         12
26         12
27         12
28         12
...       ...
1699      716
1700      716
1701      716
1702      716
1703      716

[624 rows x 8 columns]